### Tuple

In [1]:
T = (1,)

In [2]:
T = (1,2,3,4)

In [3]:
T

(1, 2, 3, 4)

In [4]:
len((1,2,3))

3

In [5]:
(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [6]:
('Hi!') * 4

'Hi!Hi!Hi!Hi!'

In [7]:
3 in (1, 2, 3)

True

In [9]:
for x in (1, 2, 3):
    print x,

1 2 3

In [10]:
t = (1, 2, 3, 4)

In [12]:
t.count(3)

1

In [13]:
t.index(2)

1

### namedtuple

In [15]:
import collections

In [17]:
help(collections.namedtuple)

Help on function namedtuple in module collections:

namedtuple(typename, field_names, verbose=False, rename=False)
    Returns a new subclass of tuple with named fields.

    >>> Point = namedtuple('Point', ['x', 'y'])
    >>> Point.__doc__                   # docstring for the new class
    'Point(x, y)'
    >>> p = Point(11, y=22)             # instantiate with positional args or keywords
    >>> p[0] + p[1]                     # indexable like a plain tuple
    33
    >>> x, y = p                        # unpack like a regular tuple
    >>> x, y
    (11, 22)
    >>> p.x + p.y                       # fields also accessible by name
    33
    >>> d = p._asdict()                 # convert to a dictionary
    >>> d['x']
    11
    >>> Point(**d)                      # convert from a dictionary
    Point(x=11, y=22)
    >>> p._replace(x=100)               # _replace() is like str.replace() but targets named fields
    Point(x=100, y=22)

In [19]:
Person = collections.namedtuple('Person', 'name age gender')

In [20]:
print('Type of Person: ', type(Person))

('Type of Person: ', <type 'type'>)

In [21]:
bob = Person(name='Bob', age=30, gender='male')

In [22]:
print('Representation: bob')

Representation: bob

In [23]:
print(bob._fields)

('name', 'age', 'gender')

In [24]:
print(bob._asdict())

OrderedDict([('name', 'Bob'), ('age', 30), ('gender', 'male')])

In [30]:
jane = bob._make(['Jane', 29, 'female'])

In [31]:
print('Field by name:', jane.name)

('Field by name:', 'Jane')

In [32]:
bob = bob._replace(age=50)

In [33]:
print(bob)

Person(name='Bob', age=50, gender='male')